@import url('https://fonts.googleapis.com/css?family=Play');
:root {
    font-family: 'Play', sans-serif;
    --main-font-color: black;
    --second-font-color: #ffa382;
    --description-font-color: #5d5656;
}

body {
    max-width: 980px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

header .logoFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

header nav .menu {
    display: flex;

}
header nav .menu {
    padding: 0;
    justify-content: space-around;

}

header nav .menu li {
    list-style-type: none;
}
header nav .menu li a {
    text-decoration: none;
    color: var(--main-font-color);
    text-transform: uppercase;
}

header nav .menu li a:hover {
    text-decoration: underline;
}

@media (min-width: 480px) {
    header nav {
        display: flex;
    }


header nav .menu {
    flex: 1;
}

header .banner h1 {
    text-align: center;
    color: var(--second-font-color);
    padding: 20px;
}

header .banner p {
    text-align: center;
    color: var(--description-font-color);
    font-size: 20px;
    padding-bottom: 20px;
    
}

 header .banner .interior1-image {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
main h2 { 
     text-align: center;
     color: var(--second-font-color);
     font-size: 31px;
     padding: 20px;
 } 

 
 main p.title-services {
     font-size: 20px;
     font-weight: bold;
     color: var(--second-font-color);
     padding: 20px;
     text-align: center;
 }  

main .services-makeup { 
     display: grid;
     justify-content: space-around;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 15px;
}

   main .services-makeup img {
     width: 300px;
 }
 
  main .services-hair { 
     display: grid;
     justify-content: space-around;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 15px;
 }

 main .services-hair img {
     width: 300px;
 }

 main .services-brows {
     display: grid;
     justify-content: space-around;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 15px;
     
 }
 main .services-brows img {
     width: 300px;
 }
 
 main .services-lashes {
     display: grid;
     justify-content: space-around;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 15px;
 }
 main .services-lashes img {
     width: 300px;
 } 
 
main h3 {
     color: var(--second-font-color);
     font-size: 40px;
     font-weight: bold;
     text-align: center;
     padding: 20px;
 }
 
 main p.serficates-text {
     text-align: center;
     color: var(--description-font-color);
     font-size: 18px;
     
 }
 
 main .serficates-gifts {  /*розташування сертифыкатыв */
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: space-around;
}
main .serficates-gifts img {
    width: 500px;
}

main h4 {
    color: var(--second-font-color);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    
}

main p.events-text {
    text-align: center;
     color: var(--description-font-color);
     font-size: 20px;
     padding-top:200px;
     margin: 20px;
}

main .events img {
    padding-top: 20px;
    width: 500px;
    float: left;
}

.clear {
    clear:both;
}

main h5 {
    color: var(--second-font-color);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    clear: both;
}
 
main p.text-contacts {
    color: var(--description-font-color);
    font-size: 20px;
    text-align: center;
    padding-top: 125px;
    
}

 
main .our-contacts img {
    padding-top: 20px;
    width: 500px;
    float: right;
}


footer h6 {
    color: var(--second-font-color);
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    clear: both;
}

footer p {
    color: var(--description-font-color);
    font-size: 19px;
    text-align: center;
    padding-bottom: 20px;
    
}

 
 footer form input[type="text"], [type="email"], [type="tel"] {
     width: 190px;
     height: 30px;
     font-size: 17px;
     margin-bottom: 4px;
     padding-left: 10px;
     
 }
 
 footer form input[type="submit"] {
    width: 100px;
    height: 50px;
    border: 1px solid var(--description-font-color);
    background: white;
 }
  

 footer form .submit:hover {
     background: var(--second-font-color);
    color: var(--description-font-color);
 }


footer .logo-footer img {
    width: 50px;
    padding-top: 20px;
 }

footer p.footer {
    text-align: center;
    color: var(--description-font-color);
    font-size: 14px;
}

